/* Scss Document */
@import "variables";

@media screen {
  @media (max-width: 650px) {
    header {
      h1 {
        left: 0;
        margin: 0;
        bottom: 100px;
      }
      nav {
        .search-space {
          margin-top: 30px;
        }
        #search-form {
          display: none;

          .search {
            position: absolute;
            width: 100%;
            height: 30px;
            text-align: center;
            display: inline-block;
            top: 0;
            right: 0;
            padding: 0;
          }
          #submit {
            position: relative;
            display: inline-block;
            right: 0;
            top: 0;
            width: 10%;
            padding: 0;
            height: 30px;
          }
        }
        #hamburger:checked ~ #search-form {
          width: 100%;
          position: absolute;
          top: 100px;
          @include displayFlexbox();
          @include justifyContent();
        }
      }
    }
    #information {
      .text-wrap {
        img {
          display: none;
        }
        .buttons {
          position: relative;
          top:-10px;
        }
      }
    }

    #routine {
      width: 200px;
    }

    .routine {
      width: 320px;
    }
  }
  @media (min-width: 1160px) {
    header {
      height: 600px;
      @include displayFlexbox();
      align-items: flex-end;
      h1 {
        left: 0;
        margin: 0;
        font-size: 7rem;
        width: 420px;
        position: relative;
        &::before {
          right: -70px;
          left: auto;
          transform: inherit;
          bottom: 25px;

        }
      }
      nav {
        width: 80%;
        float: right;
        top: 0;
        position: relative;
        #search-form {
          clear: both;
          position: absolute;
          left: -360px;
          top: -7px;
          .search {
            width: 269px;
            right: auto;
          }
        }
        #username-holder {
          order: 5;
        }
        .menuicon {
          display: none !important;
        }
        #menu {
          height: auto !important;
          position: relative !important;
          overflow: visible !important;
          width: 600px !important;
          flex-flow: row nowrap !important;
          margin: auto;
          top: 0;
          .flex1 {
            order: 5;
          }
          .menuItem {
            background-color: $link-color;
            display: inline-block;
          }
          .accordion {
            padding: 0 !important;
            position: relative !important;
            margin: 0 !important;
            min-width: 150px !important;
            max-width: 150px !important;
            input {
              &:checked {
                ~ .accordion-menu {
                  position: absolute;
                }
              }
            }
            label {
              padding: 10px 8px 10px 33px;
            }
            .accordion-menu {
              height: 0;
              display: none;
              position: absolute !important;
              flex-flow: column !important;
              padding: 10px !important;
              min-width: 130px;
              max-width: 130px;
              top: 40px;
              left: 0;
              a {
                margin-bottom: 20px;
              }
            }

          }
        }
      }
    }
    main {
      width:90%;
      #pictures {
        width:88.6%;
        left:5.9%;
        position: relative;
      }
    }
  }

  @media (max-width: 1160px) {
    #information {
      display: block;
    }

    .video-container {
      margin-top: 30px;
      max-width: none;
      height: 400px !important;
      .trailer {
        position: relative;
      }
    }
  }

}