#limage1 {
  background-image: url("../img/Film2/The_Lunchbox_2.jpg");

}

#limage2 {
  background-image: url("../img/Film2/The_Lunchbox_3.jpg");
}

#limage3 {
  background-image: url("../img/Film2/The_Lunchbox_4.jpg");
}

#limage4 {
  background-image: url("../img/Film2/The_Lunchbox_5.jpg");
  background-position: left;
}

#inimage1 {
  background-image: url("../img/Film1/The_Intouchables_1.jpg");
  background-position: 30% 10%;
}

#inimage2 {
  background-image: url("../img/Film1/The_intouchables_4.jpg");
  background-position: 45% 10%;
}

#inimage3 {
  background-image: url("../img/Film1/The_Intouchables_5.jpg");
  background-position: 30% 60%;
}
