/* Scss Document */
@import "variables";
@import "rating";

main {
	display: block !important;
}

	#information {
		@include displayFlexbox();
		span {
			color: $link-hover;
		}
		.text-wrap {
			flex: 2;
			padding: 0.4rem;
			position: relative;
			img {
				width:100px;
				height:auto;
				position: absolute;
				right:30px;
			}
		}
		a {
			color: $link-color;
			width: auto;
			height: auto;
			&:hover {
				color: $link-hover;
			}
		}
		.buttons {
			position: absolute;
			top:10px;
			button {
				border: none;
				cursor: pointer;
				padding:5px 20px;
				background-color: $button-color;
				&:hover {
					background-color: $button-color-hover;
					box-shadow: inset 0 0 0 2px $button-color;
				}
			}
		}
	}


	#pictures {
			background: transparent;
			#frame {
				width: $picture-width;
				position: relative;
				left: -13%;
				top: -20px;
				overflow: hidden;
				height: 20rem;
				@include displayFlexbox();
				.image {
					width: 100%;
					background-size: cover;
					background-position: center;
					height: 100%;
				}
				@import "movieimg";
			}
		}
	.extra {
		display: block;
	}

	.video-container {
		position: relative;
		width: 100%;
		max-width: 520px;
		max-height: 350px;
		@include flex(1);
		.trailer {
			position: absolute;
			border:none;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}


@import "media";