/* Scss Document */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
.rating {
  overflow: hidden;
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: inset 0 1px 3px #D1481B; }

.rating-input {
  display: none;
  float: right;
  width: 14px;
  height: 46px;
  padding: 0;
  margin: 0 0 0 0;
  opacity: 0; }

.rating .rating-star, .rating:hover .rating-star {
  position: relative;
  float: right;
  display: block;
  width: 14px;
  height: 46px;
  background: url("img/rating/Asset 1.svg") -42px 0;
  background-size: 28px; }
  .rating .rating-star:hover, .rating:hover .rating-star:hover {
    background-position: 0 0; }
    .rating .rating-star:hover ~ .rating-star, .rating:hover .rating-star:hover ~ .rating-star {
      background-position: 0 0; }
.rating .rating-input:checked ~ .rating-star {
  background-position: 0 0; }

main {
  display: block !important; }

#information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #information span {
    color: #D1481B; }
  #information .text-wrap {
    flex: 2;
    padding: 0.4rem; }
  #information a {
    color: #3999AE;
    width: auto;
    height: auto; }
    #information a:hover {
      color: #D1481B; }

#pictures {
  background: transparent; }
  #pictures #frame {
    width: 125.5%;
    position: relative;
    left: -13%;
    top: -20px;
    overflow: hidden;
    height: 20rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #pictures #frame .image {
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 100%; }
    #pictures #frame #limage1 {
      background-image: url("img/Film2/The_Lunchbox_2.jpg"); }
    #pictures #frame #limage2 {
      background-image: url("img/Film2/The_Lunchbox_3.jpg"); }
    #pictures #frame #limage3 {
      background-image: url("img/Film2/The_Lunchbox_4.jpg"); }
    #pictures #frame #limage4 {
      background-image: url("img/Film2/The_Lunchbox_5.jpg");
      background-position: left; }
    #pictures #frame #inimage1 {
      background-image: url("img/Film1/The_Intouchables_1.jpg");
      background-position: 30% 10%; }
    #pictures #frame #inimage2 {
      background-image: url("img/Film1/The_Intouchables_4.jpg");
      background-position: 45% 10%; }
    #pictures #frame #inimage3 {
      background-image: url("img/Film1/The_Intouchables_5.jpg");
      background-position: 30% 60%; }

.extra {
  display: block; }

.video-container {
  position: relative;
  width: 100%;
  max-width: 520px;
  max-height: 350px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .video-container .trailer {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%; }

/* Scss Document */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
@media screen and (max-width: 650px) {
  header h1 {
    left: 0;
    margin: 0;
    bottom: 100px; }
  header nav #search-form {
    display: none; }
    header nav #search-form .search {
      position: absolute;
      width: 100%;
      height: 30px;
      text-align: center;
      display: inline-block;
      top: 0;
      right: 0;
      padding: 0; }
    header nav #search-form #submit {
      position: relative;
      display: inline-block;
      right: 0;
      top: 0;
      width: 10%;
      padding: 0;
      height: 30px; }
  header nav #hamburger:checked ~ #search-form {
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  #routine {
    width: 200px; }

  .search-space {
    margin-top: 30px; }

  .routine {
    width: 320px; } }
@media screen and (min-width: 1160px) {
  header {
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end; }
    header h1 {
      left: 0;
      margin: 0;
      font-size: 7rem;
      width: 420px;
      position: relative; }
      header h1::before {
        right: -70px;
        left: auto;
        transform: inherit;
        bottom: 25px; }
    header nav {
      width: 80%;
      float: right;
      top: 0;
      position: relative; }
      header nav #search-form {
        clear: both;
        position: absolute;
        left: -360px;
        top: -7px; }
        header nav #search-form .search {
          width: 269px;
          right: auto; }
      header nav #username-holder {
        order: 5; }
      header nav .menuicon {
        display: none !important; }
      header nav #menu {
        height: auto !important;
        position: relative !important;
        overflow: visible !important;
        width: 600px !important;
        flex-flow: row nowrap !important;
        margin: auto;
        top: 0; }
        header nav #menu .flex1 {
          order: 5; }
        header nav #menu .menuItem {
          background-color: #3999AE;
          display: inline-block; }
        header nav #menu .accordion {
          padding: 0 !important;
          position: relative !important;
          margin: 0 !important;
          min-width: 150px !important;
          max-width: 150px !important; }
          header nav #menu .accordion input:checked ~ .accordion-menu {
            position: absolute; }
          header nav #menu .accordion label {
            padding: 10px 8px 10px 33px; }
          header nav #menu .accordion .accordion-menu {
            height: 0;
            display: none;
            position: absolute !important;
            flex-flow: column !important;
            padding: 10px !important;
            min-width: 130px;
            max-width: 130px;
            top: 40px;
            left: 0; }
            header nav #menu .accordion .accordion-menu a {
              margin-bottom: 20px; } }
@media screen and (max-width: 1160px) {
  #information {
    display: block; }

  .video-container {
    margin-top: 30px;
    max-width: none;
    height: 400px !important; }
    .video-container .trailer {
      position: relative; } }

/*# sourceMappingURL=movie.css.map */
