/* Scss Document */

@media only screen and (max-width:650px) {
	.search {
		position: relative ;
		width: 87%;
		text-align: center;
		display: inline-block ;
		top: 0 ;
		right: 0;
		padding: 0;
	}
	#submit {
		position: relative;
		top: -3px;
		display: inline-block;
		right: 0;
		width: 10%;
		padding: 0;
	}
}
