/* --------- VARIABLES -------- */
/* ------- Variables --------- */
/* ---------- Colors ---------- */
/* ---------- Fonts ----------- */
/* -------- widths and heights --------- */
/* -------- Hamburger menu ---------- */
/* ---------- mixins ---------- */
/* -------- Main configuration --------- */
* {
  margin: 0;
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: lighter;
  list-style: none; }

body {
  background: #F0EFE9;
  width: 100%;
  min-width: 320px; }

h1 {
  font-weight: bold;
  font-size: 2em; }

a {
  color: #3999AE;
  text-decoration: none; }
  a:hover {
    color: #D1481B; }

a:visited {
  color: #3999AE; }

p {
  margin-bottom: 20px; }

/* ----------- Heading ------------- */
/*.menuSearch {
	display: none;
}*/
/* ----------- Main Content ------------- */
main {
  position: relative;
  width: 80%;
  margin: auto;
  /* ---------- Pictures -------- */ }
  main #sidebox {
    display: none; }
    main #sidebox:checked ~ #routine {
      right: 0; }
      main #sidebox:checked ~ #routine > .sidebox-label {
        color: #D1481B;
        background: #fff; }
        main #sidebox:checked ~ #routine > .sidebox-label:hover {
          background: #fff4f3;
          color: #D1481B;
          cursor: pointer; }
  main #routine {
    position: fixed;
    width: 220px;
    right: -270px;
    top: 10px;
    z-index: 50;
    border: 1px solid #433a3a;
    border-bottom: 2px solid #433a3a;
    background: #F0EFE9;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
    main #routine .sidebox-label {
      position: relative;
      right: 112px;
      width: 40px;
      text-align: center;
      background: #fff;
      color: #3999AE;
      padding: 20px;
      border: 1px solid #433a3a;
      border-bottom: 2px solid #433a3a;
      box-shadow: 2px 5px 4px #ccc;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -ms-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s; }
      main #routine .sidebox-label:hover {
        background: #fff4f3;
        color: #D1481B;
        cursor: pointer; }
    main #routine .sidebox-x {
      right: 5px;
      position: absolute;
      top: 0;
      background: transparent;
      color: #3999AE;
      z-index: 4;
      cursor: pointer;
      padding: 8px; }
      main #routine .sidebox-x:hover {
        color: #D1481B; }
  main section, main aside {
    background: #fff;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: -20px; }
    main section ul, main aside ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      z-index: 1; }
      main section ul a, main aside ul a {
        margin-right: 33.33333px; }
    main section h2, main aside h2 {
      text-align: center;
      margin-bottom: 30px; }
  main .movies .movie-info {
    width: 100px;
    height: 186.2px;
    display: inline-block;
    position: relative; }
    main .movies .movie-info:nth-child(2n+2) {
      margin: 0; }
    main .movies .movie-info-a::after {
      content: "";
      background: rgba(255, 255, 255, 0.35);
      width: 100px;
      height: 133px;
      position: absolute;
      top: 0;
      opacity: 1;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -ms-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    main .movies .movie-info-a:hover:after {
      opacity: 0; }
    main .movies .movie-info-a:hover ~ details {
      opacity: 1; }
    main .movies .movie-info .info {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 35%;
      left: 50%;
      margin-left: -10px;
      text-align: center;
      border: 2px solid #D1481B;
      border-radius: 50%; }
  main .movies details {
    position: absolute;
    top: 0;
    z-index: 0; }
    main .movies details[open=""] {
      z-index: -1; }
    main .movies details p {
      position: relative;
      z-index: 3;
      background: #fff;
      padding: 30px;
      box-shadow: 0 0 3px #D1481B; }
  main .movies p {
    color: #433A3A !important; }
  main .movies img {
    width: 100px;
    height: 133px; }
  main .movies span {
    display: block;
    color: #000; }

/* ----------- Footer ----------- */
footer {
  background: #3999AE;
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
