/* --------- VARIABLES -------- */
@import "variables";
/* -------- Main configuration --------- */

* {
	margin: 0;
	font-family: $font-stack;
	font-weight: $font-weight;
	list-style: none;
}

body {
	background: $primary-color;
	width: $full-page-width;
	min-width: 320px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-hover;
	}
}

a:visited {
	color: $link-color;
}

p {
	margin-bottom: 20px;
}


/* ----------- Heading ------------- */


/*.menuSearch {
	display: none;
}*/

/* ----------- Main Content ------------- */

main {
	position: relative;
	width: $nearly-full-width;
	margin: auto;
	#sidebox {
		display: none;
		&:checked ~ #routine {
			right: 0;
			> .sidebox-label {
				color: $link-hover;
				background: $section-color;
				&:hover {
					background: $third-color;
					color: $link-hover;
					cursor: pointer;
				}
			}
		}
	}
	#routine {
		position: fixed;
		width: 220px;
		right: -270px;
		top:10px;
		z-index: 50;
		border: 1px solid #433a3a;
		border-bottom: 2px solid #433a3a;
		background: $primary-color;
		@include transDur($animationLong);
		@include transDel($animationShort);
		.sidebox-label {
			position: relative;
			right: 112px;
			width: 40px;
			text-align: center;
			background: $section-color;
			color: $link-color;
			padding: 20px;
			border: 1px solid #433a3a;
			border-bottom: 2px solid #433a3a;
			box-shadow: 2px 5px 4px #ccc;
			@include transDur($animationShort);
			&:hover {
				background: $third-color;
				color: $link-hover;
				cursor: pointer;
			}
		}
		.sidebox-x {
			right: 5px;
			position: absolute;
			top: 0;
			background: transparent;
			color: $link-color;
			z-index: 4;
			cursor: pointer;
			padding: 8px;
			&:hover {
				color: $link-hover;
			}
		}
	}
	section, aside {
		background: $section-color;
		width: $full-page-width;
		margin-bottom: 30px; 
		padding: 20px;
		margin-left:-20px; 
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: nowrap;
			position: relative;
			z-index: 1;
			a {
				margin-right: $img-size-width/3;
			}
		}
		h2 {
			text-align: center;
			margin-bottom: 30px;
		}
	}

	.movies {

		.movie-info {
			width: $img-size-width;
			height: $img-size-height*1.4;
			display: inline-block;
			position: relative;
			&:nth-child(2n+2){
				margin: 0;
			}
			&-a::after {
				content:"";
				background: rgba(255,255,255,0.35);
				width: $img-size-width;
				height: $img-size-height;
				position: absolute;
				top: 0;
				opacity: 1;
				@include transDur($animationShort);
				@include transDel($animationNone);
			}
			&-a:hover:after {
				opacity: 0;
			}
			&-a:hover ~ details {
				opacity: 1;
			}
			.info {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 35%;
				left: 50%;
				margin-left: -10px;
				text-align: center;
				border: 2px solid $link-hover;
				border-radius: 50%;

			}

		}
		details {
			position: absolute;
			top:0;
			z-index: 0;
			&[open=""] {
				z-index: -1;
			}
			p {
				position: relative;
				z-index: 3;
				background: $section-color;
				padding: 30px;
				box-shadow: 0 0 3px $link-hover;
			}
		}
		p {
			color: $secondary-color !important;
		}
		img {
			width: $img-size-width;
			height: $img-size-height;
		}
		span {
			display: block;
			color: #000;
		}

	}

	
	/* ---------- Pictures -------- */
	
}

/* ----------- Footer ----------- */

footer {
	background: $link-color;
	height: 100px;
	width: 100%;
	position: relative;
	bottom: 0;
	color: #fff;
}

